@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body{
	font-family: 'Poppins', sans-serif;
	margin:0;
}

*{
	box-sizing: border-box;
}

.row {
	margin: auto;
    width: auto;
	padding: 20px;
    background-color:#3a8aec;
    text-align: center;
}

label{
	display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: #EDEDED;
    letter-spacing: 2px;
}

input[type="text" i], textarea {
    width: 95%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 15px 10px;
    border: 1px solid white;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

input:focus, textarea:focus { 
	border: 1px solid #ccc;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #666;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #666;
}
:-moz-placeholder { /* Firefox 18- */
  color: #666;
}

.gabi {
    width: 100%;
    height: 100%;
    padding: 30px;
    align-content: center;
    align-items: center;
    background-color: #3a8aec;
    text-align: center;
}

.info {
    width: 95%;
    margin-left: 40px;
    color:#EDEDED;
	background-color:#3a8aec;
    border-color:#EDEDED;
    border-style: solid;
    border-width:2px;
	height: 50px;
	text-align:center;
	font-size:200%;
	font-family: 'Poppins', sans-serif;
	border-radius: 25px;
}

.text-center {
	text-align:center;
}

.error {
    width: 95%;
    margin-left: 40px;
    color:#EDEDED;
	background-color:#3a8aec;
    border-color:#EDEDED;
    border-style: solid;
    border-width:2px;
	height: 50px;
	text-align:center;
	font-size:200%;
	font-family: 'Poppins', sans-serif;
	border-radius: 25px;
}
.loading {
    width: 95%;
    margin-left: 40px;
    color:#EDEDED;
	background-color:#3a8aec;
    border-color:#EDEDED;
    border-style: solid;
    border-width:2px;
	height: 50px;
	text-align:center;
	font-size:200%;
	font-family: 'Poppins', sans-serif;
	border-radius: 25px;
}
.success {
    width: 95%;
    margin-left: 40px;
    color:#EDEDED;
	background-color:#3a8aec;
    border-color:#EDEDED;
    border-style: solid;
    border-width:2px;
	height: 50px;
	text-align:center;
	font-size:200%;
	font-family: 'Poppins', sans-serif;
	border-radius: 25px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#EDEDED;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #3a5575;
    display: block;
    transition: 0.3s;
    font-style: normal;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

    #logo {
        font-family: 'Calibri', Bold;
        color: #EDEDED;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 150px;
        font-weight: 800;
        letter-spacing: -3px;
        line-height: 1;
        text-align: center;
        margin: 10px 0 10px;
      }
      