.img{
	opacity: 0.5;
    filter: alpha(opacity=50);
}

.row {
	margin: auto;
    width: 80%;
    padding: 10px;
}

.text-center {
	text-align:center;
}
section {
	display:block;
}

.info {
	color:#31708f;
	background-color:#d9edf7;
	border-color:#bce8f1;
	height: 50px;
	text-align:center;
	font-size:200%;
	font-family: cursive;
	opacity: 0.8;
	border-radius: 25px;
}
.error {
	color:#E74038;
	background-color:#ffcccc;
	border-color:#ffb3b3;
	height: 50px;
	text-align:center;
	font-size:200%;
	font-family: cursive;
	opacity: 0.8;
	border-radius: 25px;
}
.loading {
	color:#af9502;
	background-color:#ffff99;
	border-color:#ffffe6;
	height: 50px;
	text-align:center;
	font-size:200%;
	font-family: cursive;
	opacity: 0.8;
	border-radius: 25px;
}
.success {
	color:green;
	background-color:#99ff99;
	border-color:#006600;
	height: 50px;
	text-align:center;
	font-size:200%;
	font-family: cursive;
	opacity: 0.8;
	border-radius: 25px;
}